PORT=8000
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
JWT_SECRET="SeeMediaSecretKey"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
MONGODB_URL="your_mongodb_connection_string"
